.header {
  display: flex;
  align-items: center;
  max-width: 880px;
  padding: 45px 0 0;
  margin: 0 auto;
  border-bottom: 1px solid rgba(84,84,84,0.7);
}

@media screen and (max-width: 1023px){
  .header {
    max-width: 76%;
  }
}

@media screen and (max-width: 320px){
  .header {
    max-width: 100%;
    padding: 28px 0 0;
  }
}
