.profile__info {
  margin: 0 0 0 26.25px;
  display: flex;
  max-width: 335px;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

@media screen and (max-width: 700px){
  .profile__info {
    justify-content: center;
    margin: 0;
  }
}
