.auth__input{
    border: 0;
    width: 100%;
    box-sizing: border-box;
    color: #CCCCCC;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    font-family: inherit;
    margin: 0;
    padding: 0;
}