.card__trash-ico {
  background-image: url('../../../images/card-trash.svg');
  background-repeat: no-repeat;
  position: absolute;
  top: 18px;
  right: 15px;
  width: 18px;
  height: 19.3px;
  border: none;
  background-color: transparent;
  transition: all .2s linear;
  cursor: pointer;
}

.card__trash-ico:hover{
  opacity: 0.6;
}
